.single-funfacts-about p.disc {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-primary);
    text-align: center;
    font-size: 20px;
    color: black
}

.about-six-inner-wrapper p.disc{margin-bottom: 10px;}
h2.title.mt--10{font-size: 40px;}